Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

astro:
  name: Astro check
  entry: pnpm astro check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: pnpm exec prettier --check src
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Feat: Menú dinámico con comportamiento estándard por teclado #63 (#66)
  src/components/LanguagePicker.astro
  src/components/Nav.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/i18n/components/LanguagePicker.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/menu/index.ts
  src/layouts/Layout.astro
Due: astro, prettier

feat: add uppercase items
  src/components/Navigation.astro
Due: astro

feat: add astro agenda component
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/agenda.tsx
  src/pages/[lang]/agenda.astro
  tsconfig.json
Due: astro, prettier

feat(sponsors): Update statistics using data from last year
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

Apply suggestions from code review
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore(sponsors): Update some phrases
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

Feat: Mejora para screen reader
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

Fix: Language picker
  src/components/LanguagePicker.astro
  src/i18n/components/LanguagePicker.ts
Due: astro, prettier

feat(sponsors): Update statistics using data from last year (#71)
  src/components/LanguagePicker.astro
  src/i18n/components/LanguagePicker.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat: add e-frontiers logo
  public/sponsors/efrontiers.png
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat: add e-frontiers logo (#72)
  public/sponsors/efrontiers.png
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore: add favicon and font and colors
  package.json
  pnpm-lock.yaml
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  src/components/index.astro
  src/layouts/Layout.astro
  tailwind.config.mjs
Due: astro, prettier

chore: change page colors
  src/components/LanguagePicker.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
  tailwind.config.mjs
Due: astro, prettier

feat: new sponsors version styles
  public/images/logo-vertical-alt-yellow-light.svg
  public/images/logo-vertical-yellow-light.svg
  public/images/symbol-black-dark.svg
  public/images/symbol-black-light.svg
  public/images/symbol-yellow-light.svg
  src/components/index.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
Due: astro

feat: new design wip
  public/images/logo-vertical-alt-color-dark.svg
  public/images/logo-vertical-color-dark.svg
  src/components/2026.es.pycon.org.code-workspace
  src/components/LanguagePicker.astro
  src/components/index.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
Due: astro

feat: new design wip 2
  src/components/index.astro
  src/pages/[lang]/sponsors.astro
Due: astro

feat: new design wip 3
  src/components/LanguagePicker.astro
  src/pages/[lang]/sponsors.astro
Due: astro

feat: new design wip 4
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

chore: delete workspace file
  src/components/2026.es.pycon.org.code-workspace
Due: none

chore: format
  src/components/LanguagePicker.astro
  src/components/index.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  tsconfig.json
Due: astro, prettier

feat: blur
  src/layouts/Layout.astro
Due: astro

chore: añadir estilo del libro de estilos
  package.json
  pnpm-lock.yaml
  public/favicon/android-chrome-192x192.png
  public/favicon/android-chrome-512x512.png
  public/favicon/apple-touch-icon.png
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/site.webmanifest
  public/images/logo-vertical-alt-color-dark.svg
  public/images/logo-vertical-alt-yellow-light.svg
  public/images/logo-vertical-color-dark.svg
  public/images/logo-vertical-yellow-light.svg
  public/images/symbol-black-dark.svg
  public/images/symbol-black-light.svg
  public/images/symbol-yellow-light.svg
  src/components/LanguagePicker.astro
  src/components/index.astro
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
  tailwind.config.mjs
  tsconfig.json
Due: astro, prettier

Fix: contraste home
  src/components/index.astro
Due: astro

Fix: contraste home (#96)
  src/components/index.astro
Due: astro

refactor: transforma home en secciones y añade un mensaje
  src/components/home/SectionMain.astro
  src/components/index.astro
  src/i18n/home.ts
  src/layouts/Layout.astro
Due: astro, prettier

refactor: transforma home en secciones y añade un mensaje (#99)
  src/components/home/SectionMain.astro
  src/components/index.astro
  src/i18n/home.ts
  src/layouts/Layout.astro
Due: astro, prettier

feat: add navigation to header
  src/components/LanguagePicker.astro
  src/components/Nav.astro
  src/components/Navigation.astro
  src/components/index.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

feat: add navigation to header (#100)
  src/components/LanguagePicker.astro
  src/components/Nav.astro
  src/components/Navigation.astro
  src/components/index.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

fix: fix hydratation error
  src/components/agenda.tsx
Due: prettier

feat: change mastodon to twitter
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat: change mastodon to twitter (#101)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

Feat: Eliminar emojis
  src/pages/[lang]/sponsors.astro
Due: astro

Feat: remove role='img'
  src/pages/[lang]/sponsors.astro
Due: astro

Feat: Eliminar emojis (#103)
  src/pages/[lang]/sponsors.astro
Due: astro

Fix: remove aria-hidden
  src/pages/[lang]/sponsors.astro
Due: astro

Fix: remove aria-hidden (#105)
  src/pages/[lang]/sponsors.astro
Due: astro

Feat: Menu item paquetes patro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

refactor: improve main layout adding a container
  src/components/home/SectionMain.astro
  src/components/home/SectionSponsors.astro
  src/components/index.astro
  src/layouts/Layout.astro
Due: astro

feat: add sponsors description
  src/components/SectionTitle.astro
  src/components/TextBox.astro
  src/components/home/SectionMain.astro
  src/components/home/SectionSponsors.astro
  src/i18n/home.ts
Due: astro, prettier

feat: read sponsors from disk and render them
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/data/sponsors/sponsor1.md
  src/data/sponsors/sponsor2.md
  src/i18n/home.ts
  src/types/sponsors.ts
Due: astro, prettier

Path conditions:
  astro: any of: \.(ts|astro)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
