Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

astro:
  name: Astro check
  entry: pnpm astro check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: pnpm exec prettier --check src
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: update version to 1.1.0
  package.json
Due: prettier

Modificada fecha límite para la llamada a propuestas (#171)
  .nvmrc
  package.json
  src/components/home/SectionCallForProposals.astro
  src/i18n/home.ts
Due: astro, prettier

add fever as gold sponsor
  public/sponsors/fever.png
  src/data/sponsors/fever.md
Due: prettier

Añadir Rover como Gold sponsor. (#170)
  public/sponsors/rover.png
  src/data/sponsors/rover.md
Due: prettier

add fever as gold sponsor (#172)
  public/sponsors/fever.png
  src/data/sponsors/fever.md
Due: prettier

chore: version 1.2.0
  package.json
Due: prettier

Version 1.2.0 (#173)
  package.json
Due: prettier

fix: fix accessibility
  src/components/SectionTitle.astro
  src/components/home/SectionCTAs.astro
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

chore: update package
  package.json
Due: prettier

feat: add teams page with accessible card grid
  src/components/TeamsPage.astro
  src/data/teams/catering.md
  src/data/teams/diversity.md
  src/data/teams/merch.md
  src/data/teams/program.md
  src/data/teams/rrss.md
  src/data/teams/social.md
  src/data/teams/sponsors.md
  src/data/teams/ticketing.md
  src/data/teams/venue.md
  src/data/teams/volunteers.md
  src/data/teams/web.md
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/teams/ca.ts
  src/i18n/teams/en.ts
  src/i18n/teams/es.ts
  src/i18n/teams/index.ts
  src/pages/[lang]/teams.astro
Due: astro, prettier

fix: format code
  .gitignore
  src/components/TeamsPage.astro
Due: astro

feat: group accommodation and teams under Information dropdown menu
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
Due: astro, prettier

feat: move venue into Information dropdown menu
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
Due: astro, prettier

fix: adjust heading hierarchy in TeamsPage
  src/components/TeamsPage.astro
Due: astro

revert: h1 and change h3 to h2
  src/components/TeamsPage.astro
Due: astro

Añadir EPS como patrocinador Oro.
  src/data/sponsors/eps.md
Due: prettier

Añadir EPS como patrocinador Oro. (#175)
  src/data/sponsors/eps.md
Due: prettier

chore: version 1.3.0
  package.json
Due: prettier

Version 1.3.0 (#176)
  package.json
Due: prettier

feat: add teams page (#174)
  .gitignore
  src/components/TeamsPage.astro
  src/data/teams/catering.md
  src/data/teams/diversity.md
  src/data/teams/merch.md
  src/data/teams/program.md
  src/data/teams/rrss.md
  src/data/teams/social.md
  src/data/teams/sponsors.md
  src/data/teams/ticketing.md
  src/data/teams/venue.md
  src/data/teams/volunteers.md
  src/data/teams/web.md
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/teams/ca.ts
  src/i18n/teams/en.ts
  src/i18n/teams/es.ts
  src/i18n/teams/index.ts
  src/pages/[lang]/teams.astro
Due: astro, prettier

feat: add jobs page
  src/components/JobsPage.astro
  src/data/jobs/_plantilla-oferta.md
  src/data/jobs/ca/jetbrains-python-dev.md
  src/data/jobs/en/fever-senior-dev.md
  src/data/jobs/en/jetbrains-python-dev.md
  src/data/jobs/es/fever-senior-dev.md
  src/data/jobs/es/jetbrains-python-dev.md
  src/i18n/jobs/ca.ts
  src/i18n/jobs/en.ts
  src/i18n/jobs/es.ts
  src/i18n/jobs/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/jobs.astro
Due: astro, prettier

feat: change offers to draft
  src/components/JobsPage.astro
  src/data/jobs/ca/jetbrains-python-dev.md
  src/data/jobs/en/fever-senior-dev.md
  src/data/jobs/en/jetbrains-python-dev.md
  src/data/jobs/es/fever-senior-dev.md
  src/data/jobs/es/jetbrains-python-dev.md
Due: astro, prettier

feat: formatting
  README.md
  src/components/JobsPage.astro
  src/data/jobs/_plantilla-oferta.md
  src/pages/[lang]/jobs.astro
  tsconfig.json
Due: astro, prettier

Feat: add call for actions (#168)
  src/components/SectionTitle.astro
  src/components/home/SectionCTAs.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

fix: formater
  src/components/JobsPage.astro
Due: astro

Feat: add jobs page (#177)
  README.md
  src/components/JobsPage.astro
  src/data/jobs/_plantilla-oferta.md
  src/data/jobs/ca/jetbrains-python-dev.md
  src/data/jobs/en/fever-senior-dev.md
  src/data/jobs/en/jetbrains-python-dev.md
  src/data/jobs/es/fever-senior-dev.md
  src/data/jobs/es/jetbrains-python-dev.md
  src/i18n/jobs/ca.ts
  src/i18n/jobs/en.ts
  src/i18n/jobs/es.ts
  src/i18n/jobs/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/jobs.astro
  tsconfig.json
Due: astro, prettier

refactor: job offers move within sponsors menu
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
Due: astro, prettier

fix: remove unused import
  src/pages/[lang]/jobs.astro
Due: astro

Fix/178 menu (#179)
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/jobs.astro
Due: astro, prettier

chore: v1.4.0
  package.json
Due: prettier

chore: v1.4.0 (#180)
  package.json
Due: prettier

feat: remove CFP call for actions
  src/components/home/SectionCTAs.astro
Due: astro

Bump version from 1.4.0 to 1.4.1
  package.json
Due: prettier

feat: remove CFP call for actions (#181)
  package.json
  src/components/home/SectionCTAs.astro
Due: astro, prettier

Añadir Veriff como patrocinador Oro
  public/sponsors/veriff.svg
  src/data/sponsors/veriff.md
Due: prettier

fix: center CTA cards grid after CFP removal
  src/components/home/SectionCTAs.astro
Due: astro

feat: add past editions
  public/images/past_editions/2013.png
  public/images/past_editions/2014.png
  public/images/past_editions/2015.png
  public/images/past_editions/2016.jpg
  public/images/past_editions/2017.png
  public/images/past_editions/2018.png
  public/images/past_editions/2019.png
  public/images/past_editions/2020.png
  public/images/past_editions/2021.png
  public/images/past_editions/2022.png
  public/images/past_editions/2023.png
  public/images/past_editions/2024.png
  public/images/past_editions/2025.png
  src/components/PastEditionsPage.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/past-editions/ca.ts
  src/i18n/past-editions/en.ts
  src/i18n/past-editions/es.ts
  src/i18n/past-editions/index.ts
  src/pages/[lang]/past-editions.astro
Due: astro, prettier

Añadir Veriff como patrocinador Oro (#183)
  public/sponsors/veriff.svg
  src/data/sponsors/veriff.md
Due: prettier

Update sponsorship tier availability counts across all locales (#184)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix: center CTA cards grid after CFP removal (#185)
  src/components/home/SectionCTAs.astro
Due: astro

Path conditions:
  astro: any of: \.(ts|astro)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
