Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

astro:
  name: Astro check
  entry: pnpm astro check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: pnpm exec prettier --check src
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: fix some typos
  src/i18n/sponsors/ca.ts
Due: astro, prettier

fix: fix broser lang detection
  src/middleware.ts
  src/pages/index.astro
Due: astro, prettier

feat(sponsors): Add past sponsors logos (#48)
  public/sponsors/NIQ.png
  public/sponsors/bloomberg.png
  public/sponsors/codurance.png
  public/sponsors/datadog.png
  public/sponsors/fever.png
  public/sponsors/freepik.png
  public/sponsors/gisce.png
  public/sponsors/joinup.png
  public/sponsors/kiwi.png
  public/sponsors/kraken.png
  public/sponsors/lareira-digital-logo.avif
  public/sponsors/logo-brite.svg
  public/sponsors/logo-datamaran.avif
  public/sponsors/logo-gradiant.avif
  public/sponsors/logo-ibm.svg
  public/sponsors/logo-inditex-tech.avif
  public/sponsors/logo-innatial.avif
  public/sponsors/logo-okta.avif
  public/sponsors/logo_kairos.webp
  public/sponsors/logo_kaleidos.svg
  public/sponsors/logo_pwc.png
  public/sponsors/moeve.png
  public/sponsors/nagarro.png
  public/sponsors/perk.svg
  public/sponsors/raiola.png
  public/sponsors/sam-logo.webp
  public/sponsors/skydance-animation.png
  public/sponsors/twilio.png
  src/pages/sponsors.astro
Due: astro

Feat: Permitir que se ejecute indesx.astro
  astro.config.mjs
  src/pages/index.astro
Due: astro

Fix: redirectToDefaultLocale and prefixDefaultLocale
  astro.config.mjs
Due: none

fix(sponsors): Solve horizontal scroll issue on mobile
  src/pages/sponsors.astro
Due: astro

fix(sponsors): Solve horizontal scroll issue on mobile (#50)
  src/pages/sponsors.astro
Due: astro

feat: root at /
  src/components/index.astro
  src/pages/[lang]/index.astro
  src/pages/index.astro
Due: astro

feat: root at / (#51)
  src/components/index.astro
  src/pages/[lang]/index.astro
  src/pages/index.astro
Due: astro

feat: LanguagePicker (no style)
  src/components/LanguagePicker.astro
  src/layouts/Layout.astro
Due: astro

feat: LanguagePicker (no style) (#52)
  src/components/LanguagePicker.astro
  src/layouts/Layout.astro
Due: astro

refactor: language picker improvements
  src/components/LanguagePicker.astro
  src/components/index.astro
  src/i18n/home.ts
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
  src/pages/constants.ts
  src/pages/index.astro
Due: astro, prettier

fix: secciones acceso a ponentes y obsequis
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix: some typos
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix: add z-index in nav to fix a bug when user is in the sponsors page
  src/layouts/Layout.astro
Due: astro

Feat: distanciar los enlaces. Remover css sobrante
  src/components/LanguagePicker.astro
Due: astro

Feat: mejorar experiencia de usuario screen reader
  src/components/LanguagePicker.astro
  src/i18n/components/LanguagePicker.ts
  src/layouts/Layout.astro
Due: astro, prettier

Some fixes and final adjustments (#53)
  src/components/LanguagePicker.astro
  src/components/index.astro
  src/i18n/components/LanguagePicker.ts
  src/i18n/home.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
  src/pages/constants.ts
  src/pages/index.astro
Due: astro, prettier

feat: add sponsors translations (#47)
  .gitignore
  astro.config.mjs
  src/components/LanguagePicker.astro
  src/components/index.astro
  src/i18n/components/LanguagePicker.ts
  src/i18n/home.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/i18n/sponsors/index.ts
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
  src/pages/constants.ts
  src/pages/index.astro
  src/pages/sponsors.astro
Due: astro, prettier

Arreglar dobles puntos en fechas.
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

Arreglar dobles puntos en fechas. (#54)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

fix(sponsors): Traducción del título de la página de patrocinios.
  pnpm-workspace.yaml
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat(sponsors): Arreglar cita de Kraken.
  pnpm-workspace.yaml
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix(sponsors): traducir "sin IVA"
  pnpm-workspace.yaml
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

fix(sponsors): Traducción del título de la página de patrocinios. (#55)
  pnpm-workspace.yaml
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat(sponsors): Arreglar cita de Kraken. (#56)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix(sponsors): traducir "sin IVA" (#57)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat(sponsors): Añadir fotos de quotes.
  public/quotes/antoni-aloy.jpg
  public/quotes/clara-gomez.jpg
  public/quotes/nerea-luis.jpg
  public/quotes/pablo-galindo.jpg
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

fix(sponsors): Añadir URL de Clara Gómez de Kraken.
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat(sponsors): Añadir fotos de quotes. (#58)
  public/quotes/antoni-aloy.jpg
  public/quotes/clara-gomez.jpg
  public/quotes/nerea-luis.jpg
  public/quotes/pablo-galindo.jpg
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat: i18n config vs hardcoded
  src/components/LanguagePicker.astro
  src/i18n/components/LanguagePicker.ts
  src/pages/index.astro
Due: astro, prettier

feat: [refactor] i18n config vs hardcoded (#59)
  src/components/LanguagePicker.astro
  src/i18n/components/LanguagePicker.ts
  src/pages/index.astro
Due: astro, prettier

chore(sponsors): Adding collaborators pictures, minor typos and improve quotes image size and its placement
  public/collaborators/europython.png
  public/collaborators/psf.png
  public/collaborators/python-espana.png
  public/collaborators/ub.png
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

chore(sponsors): Adding collaborators pictures, minor typos and improve quotes image size and its placement (#61)
  public/collaborators/europython.png
  public/collaborators/psf.png
  public/collaborators/python-espana.png
  public/collaborators/ub.png
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

fix: responsive of seniority section
  src/pages/[lang]/sponsors.astro
Due: astro

fix: responsive of seniority section (#62)
  src/pages/[lang]/sponsors.astro
Due: astro

Feat: Menú dinámico
  src/components/LanguagePicker.astro
  src/components/Nav.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/i18n/components/LanguagePicker.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/menu/index.ts
  src/layouts/Layout.astro
Due: astro, prettier

Fix: i18n not available
  src/pages/index.astro
Due: astro

Fix: i18n not available (#65)
  src/pages/index.astro
Due: astro

chore: add develop to ci
  .github/workflows/ci.yml
Due: none

Path conditions:
  astro: any of: \.(ts|astro)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
