Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: astro
        name: Astro check
        entry: pnpm astro check
        language: system
        pass_filenames: false
        files: \.(ts|astro)$
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --check src
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

fix(types): adapt to typescript 6.0 stricter checks
  pnpm-lock.yaml
  src/components/home/SectionCTAs.astro
  src/components/icons/StatusIcon.astro
  src/layouts/components/Header/components/LanguagePicker.astro
  src/pages/index.astro
  src/types/fontsource.d.ts
Due: astro, prettier

refactor(icons): replace lucide social brand icons with custom SVGs
  src/components/home/SpeakerCard.astro
  src/components/icons/Icon.astro
  src/lib/icons/assets/bluesky.svg
  src/lib/icons/assets/github.svg
  src/lib/icons/assets/index.ts
  src/lib/icons/assets/instagram.svg
  src/lib/icons/assets/linkedin.svg
  src/lib/icons/assets/mastodon.svg
  src/lib/icons/assets/podcasts.svg
  src/lib/icons/assets/rss.svg
  src/lib/icons/assets/spotify.svg
  src/lib/icons/assets/twitter.svg
  src/lib/icons/assets/web.svg
  src/lib/icons/assets/youtube.svg
  src/lib/icons/mappings/social.ts
  src/lib/icons/types.ts
Due: astro, prettier

chore: update lucide
  package.json
  pnpm-lock.yaml
  src/components/home/SectionEarlyBird.astro
Due: astro, prettier

chore(deps): upgrade astro from 5.16.8 to 6.4.8
  package.json
  pnpm-lock.yaml
Due: prettier

chore(deps): upgrade astro from 6.4.8 to 7.0.2
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier

feat(sponsors): add Preply as Silver sponsor
  public/sponsors/preply.svg
  src/data/sponsors/preply.md
Due: prettier

fix(sponsors): make Preply card fully pink
  public/sponsors/preply.svg
  src/data/sponsors/preply.md
Due: prettier

feat(sponsors): add Preply as Silver sponsor (#208)
  public/sponsors/preply.svg
  src/data/sponsors/preply.md
Due: prettier

chore: version 1.13.0
  package.json
Due: prettier

Version 1.13.0 (#209)
  package.json
Due: prettier

feat: update becas page with real content from issue #91
  src/i18n/becas/ca.ts
  src/i18n/becas/en.ts
  src/i18n/becas/es.ts
  src/pages/[lang]/becas.astro
Due: astro, prettier

chore: bump version to 1.14.0
  package.json
Due: prettier

feat: add becas (#203)
  package.json
  src/i18n/becas/ca.ts
  src/i18n/becas/en.ts
  src/i18n/becas/es.ts
  src/i18n/becas/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/becas.astro
Due: astro, prettier

feat(sponsors): add Quansight as Silver sponsor
  public/sponsors/quansight.svg
  src/data/sponsors/quansight.md
Due: prettier

feat(sponsors): add Quansight as Silver sponsor (#210)
  public/sponsors/quansight.svg
  src/data/sponsors/quansight.md
Due: prettier

chore: version 1.15.0 and update packages
  package.json
  pnpm-lock.yaml
Due: prettier

Version 1.15.0 and update packages (#211)
  package.json
  pnpm-lock.yaml
Due: prettier

chore: update packages and version
  package.json
  pnpm-lock.yaml
Due: prettier

feat(programa): add Programa page with Pretalx widget
  src/components/ProgramaPage.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
  src/i18n/programa/index.ts
  src/layouts/Layout.astro
  src/pages/[lang]/programa.astro
Due: astro, prettier

fix(programa): remove overflow-x-auto from pretalx widget wrapper
  src/components/ProgramaPage.astro
  src/pages/[lang]/programa.astro
Due: astro

chore: actualiza version a 1.17.0
  package.json
  pnpm-lock.yaml
Due: prettier

Programa: añadir página con widget de Pretalx (#213)
  package.json
  pnpm-lock.yaml
  src/components/ProgramaPage.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
  src/i18n/programa/index.ts
  src/layouts/Layout.astro
  src/pages/[lang]/programa.astro
Due: astro, prettier

feat(programa): improve accessibility of Pretalx widget
  src/components/ProgramaPage.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/programa.astro
Due: astro, prettier

feat(programa): add accessible list view as alternative to Pretalx widget
  src/components/ProgramaPage.astro
  src/components/ScheduleList.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
  src/lib/schedule.ts
  src/pages/[lang]/programa.astro
  src/types/schedule.ts
Due: astro, prettier

feat(programa): default to visual grid view, keep list as opt-in
  src/components/ProgramaPage.astro
Due: astro

fix: force light color-scheme on pretalx-schedule to fix dark modal backgrounds
  src/components/ProgramaPage.astro
  src/pages/[lang]/programa.astro
Due: astro

chore: update some packages
  package.json
  pnpm-lock.yaml
Due: prettier

Fix: fondo negro en modales del widget de pretalx (#217)
  package.json
  pnpm-lock.yaml
  src/components/ProgramaPage.astro
  src/pages/[lang]/programa.astro
Due: astro, prettier

Update sponsorship package availability: Platinum → 0, Gold → 1 (#218)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore: version 1.17.3
  package.json
Due: prettier

Se actualiza version a la 1.17.3 (#219)
  package.json
Due: prettier

style: format with prettier
  src/components/ProgramaPage.astro
Due: astro

feat(programa): add lang attribute to talk title, subtitle and abstract
  src/components/ScheduleList.astro
Due: astro

feat(programa): add favorite toggle to list view, synced with widget
  src/components/ProgramaPage.astro
  src/components/ScheduleList.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
Due: astro, prettier

fix(programa): make favorite toggle a11y state follow W3C APG
  src/components/ProgramaPage.astro
  src/components/ScheduleList.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
Due: astro, prettier
