Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: astro
        name: Astro check
        entry: pnpm astro check
        language: system
        pass_filenames: false
        files: \.(ts|astro)$
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --check src
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

Change Perk website URL
  src/data/sponsors/perk.md
Due: prettier

Change Perk website URL (#145)
  src/data/sponsors/perk.md
Due: prettier

Translate "Ver en el mapa" and update Google Maps URL in LocationPage (#147)
  src/components/LocationPage.astro
  src/i18n/location/ca.ts
  src/i18n/location/en.ts
  src/i18n/location/es.ts
Due: astro, prettier

feat(accommodation): Actualizar página de alojamiento.
  src/components/AccommodationPage.astro
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
Due: astro, prettier

feat(accommodation): Actualizar página de alojamiento. (#149)
  src/components/AccommodationPage.astro
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
Due: astro, prettier

fix: some responsive adjustments
  src/components/LocationPage.astro
  src/layouts/Layout.astro
  src/layouts/components/Header/components/Navigation.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
Due: astro

fix: some responsive adjustments (#151)
  src/components/LocationPage.astro
  src/layouts/Layout.astro
  src/layouts/components/Header/components/Navigation.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
Due: astro

refactor: remove unnecessary theme code
  src/layouts/Layout.astro
Due: astro

Quita código innecesario del theme (#152)
  src/layouts/Layout.astro
Due: astro

fix: improve navigation active state detection with hash support
  src/layouts/components/Header/components/Navigation.astro
Due: astro

Corrige problema al detectar la opción de navegación activa cuando se navega por hashes (#155)
  src/layouts/components/Header/components/Navigation.astro
Due: astro

feat: remove repeated box and improve page layout
  src/pages/[lang]/sponsors.astro
Due: astro

Quita caja repetida en página de sponsors y mejora los paddings (#156)
  src/pages/[lang]/sponsors.astro
Due: astro

feat: agrega sección Call for Proposals en home
  src/components/Button.astro
  src/components/home/SectionCallForProposals.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

fix: format
  src/components/Button.astro
  src/components/home/SectionCallForProposals.astro
Due: astro

fix: traduce título CFP al español y catalán
  src/i18n/home.ts
Due: astro, prettier

Seccion CFP en la home (#157)
  src/components/Button.astro
  src/components/home/SectionCallForProposals.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

fix: fix anchor accessibility
  src/components/AccommodationPage.astro
  src/components/LocationPage.astro
  src/i18n/location/ca.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
Due: astro, prettier

fix: fix anchor accessibility
  src/components/AccommodationPage.astro
  src/i18n/location/ca.ts
  src/layouts/components/Header/components/Navigation.astro
Due: astro, prettier

fix: fix anchor accessibility
  src/components/AccommodationPage.astro
  src/components/LocationPage.astro
Due: astro

fix: fix anchor accessibility
  AGENTS.md
Due: prettier

fix: fix anchor accessibility (#161)
  AGENTS.md
  src/components/AccommodationPage.astro
  src/components/LocationPage.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
Due: astro, prettier

Release Milestone 3 (#158)
  .github/workflows/check.yml
  .github/workflows/deploy.yml
  AGENTS.md
  src/components/AccommodationPage.astro
  src/components/Button.astro
  src/components/LocationPage.astro
  src/components/home/SectionCallForProposals.astro
  src/components/index.astro
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
  src/i18n/home.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

Fix: #159
  src/components/home/SectionCallForProposals.astro
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

feat: replace pre-commit with husky
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier

feat: replace pre-commit with husky (#163)
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier

se abre en nueva pestaña (#162)
  src/components/home/SectionCallForProposals.astro
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

feat: replace pre-commit with husky (#163) (#164)
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
  README.md
  package.json
  pnpm-lock.yaml
Due: prettier

docs: add development and deployment guide to README
  .github/workflows/deploy.yml
  README.md
Due: prettier

docs: add releases and deploys guide
  .github/workflows/release.yml
  README.md
Due: prettier

docs: add development and deployment guide to README (#166)
  .github/workflows/deploy.yml
  .github/workflows/release.yml
  README.md
Due: prettier

feat: add call for actions
  src/components/home/SectionCTAs.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

chore: update package json
  package.json
Due: prettier

feat: add call for reviewers too
  src/components/home/SectionCTAs.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

feat: add JetBrains as bronze sponsor
  public/sponsors/jetbrains.svg
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/data/sponsors/jetbrains.md
Due: astro, prettier

feat: add JetBrains as bronze sponsor (#169)
  public/sponsors/jetbrains.svg
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/data/sponsors/jetbrains.md
Due: astro, prettier

Añadir Rover como Gold sponsor.
  public/sponsors/rover.png
  src/data/sponsors/rover.md
Due: prettier

chore: update node version
  .nvmrc
Due: none

refactor: change due date for cfp
  src/components/home/SectionCallForProposals.astro
  src/i18n/home.ts
Due: astro, prettier
