Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

astro:
  name: Astro check
  entry: pnpm astro check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: pnpm exec prettier --check src
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

docs: add link of the websiste
  README.md
Due: prettier

fix: lang typo (added in close tag)
  src/pages/index.astro
Due: astro

chore: add and configure pre-commit (#26)
  .pre-commit-config.yaml
  README.md
  package.json
  pnpm-lock.yaml
  src/pages/constants.ts
  src/pages/index.astro
  src/style/global.css
  tsconfig.json
Due: astro, prettier

feat: add dynamic menu with astro content
  src/content/config.ts
  src/content/menu/main.json
  src/layouts/Layout.astro
  src/layouts/components/Nav.astro
Due: astro, prettier

fix: join pycon to one word
  src/pages/index.astro
Due: astro

fix: accessibility
  src/layouts/components/Nav.astro
Due: astro

feat: Enhance navigation accessibility by adding a skip-link and refactoring dropdowns for WAI-ARIA compliance.
  src/layouts/Layout.astro
  src/layouts/components/Nav.astro
Due: astro

feat: test astro-navbar
  package.json
  pnpm-lock.yaml
  src/layouts/components/Nav.astro
Due: astro, prettier

feat: add new visual identity
  package.json
  pnpm-lock.yaml
  public/logoBAD.png
  src/layouts/Layout.astro
  src/pages/index.astro
  tailwind.config.mjs
Due: astro, prettier

fix: fix accessiblity
  src/pages/index.astro
Due: astro

Change the email copy to mailto
  src/pages/constants.ts
  src/pages/index.astro
Due: astro, prettier

feat: add dynamic menu with accessible astro components
  package.json
  pnpm-lock.yaml
  src/layouts/Layout.astro
  src/layouts/components/Nav.astro
  src/layouts/components/NavDesktop.astro
  src/layouts/components/NavDropdown.astro
  src/layouts/components/NavItem.astro
  src/layouts/components/NavMobile.astro
Due: astro, prettier

feat: add sponsors info page
  src/pages/sponsors.astro
Due: astro

feat(sponsors): Add latest information from dossier
  .idea/.gitignore
  src/pages/sponsors.astro
Due: astro

Fix: keyboard behavior
  src/layouts/components/Nav.astro
  src/layouts/components/Navigation.astro
  src/layouts/components/ResponsiveToggle.astro
Due: astro

refactor: move components from layouts/components to src/components
  src/components/Nav.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/layouts/Layout.astro
Due: astro

Fix: mobile menu
  src/components/Navigation.astro
Due: astro

feat(sponsors): Add refined version with extra quotes
  src/pages/sponsors.astro
Due: astro

Fix: remove fake button
  src/pages/sponsors.astro
Due: astro

Fix: remove fake expansible
  src/pages/sponsors.astro
Due: astro

Fix: Remove fake expansible
  src/pages/sponsors.astro
Due: astro

Fix: remove decorative circle for sr
  src/pages/sponsors.astro
Due: astro

Fix: add scope to table elements
  src/pages/sponsors.astro
Due: astro

Fix: Improve screen reader experience on table headers
  src/pages/sponsors.astro
Due: astro

Fix: replace decorative emojis by semantic value for sr
  src/pages/sponsors.astro
Due: astro

fix: Testimonials proper semantic HTML
  src/pages/sponsors.astro
Due: astro

Fix: Category rows now proper semantics
  src/pages/sponsors.astro
Due: astro

feat: add sponsors info page (#36)
  .idea/.gitignore
  src/pages/sponsors.astro
Due: astro

Fix: Viewport
  src/layouts/Layout.astro
Due: astro

Fix: Viewport (#46)
  src/layouts/Layout.astro
Due: astro

feat: add i18n
  astro.config.mjs
  src/i18n/home.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/i18n/sponsors/index.ts
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
  src/pages/index.astro
  src/pages/sponsors.astro
Due: astro, prettier

feat: add i18n sponsors spanish
  src/i18n/home.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat: add sponsors translations
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
Due: astro, prettier

feat: improve accessibility v1
  astro.config.mjs
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat(sponsors): Add past sponsors logos
  public/sponsors/NIQ.png
  public/sponsors/bloomberg.png
  public/sponsors/codurance.png
  public/sponsors/datadog.png
  public/sponsors/fever.png
  public/sponsors/freepik.png
  public/sponsors/gisce.png
  public/sponsors/joinup.png
  public/sponsors/kiwi.png
  public/sponsors/kraken.png
  public/sponsors/lareira-digital-logo.avif
  public/sponsors/logo-brite.svg
  public/sponsors/logo-datamaran.avif
  public/sponsors/logo-gradiant.avif
  public/sponsors/logo-ibm.svg
  public/sponsors/logo-inditex-tech.avif
  public/sponsors/logo-innatial.avif
  public/sponsors/logo-okta.avif
  public/sponsors/logo_kairos.webp
  public/sponsors/logo_kaleidos.svg
  public/sponsors/logo_pwc.png
  public/sponsors/moeve.png
  public/sponsors/nagarro.png
  public/sponsors/perk.svg
  public/sponsors/raiola.png
  public/sponsors/sam-logo.webp
  public/sponsors/skydance-animation.png
  public/sponsors/twilio.png
  src/pages/sponsors.astro
Due: astro

feat(sponsors): Update social links
  src/pages/sponsors.astro
Due: astro

feat: browser lang
  .gitignore
  src/middleware.ts
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
  src/pages/index.astro
Due: astro, prettier

feat: browser lang (#49)
  .gitignore
  src/middleware.ts
  src/pages/[lang]/sponsors.astro
  src/pages/index.astro
Due: astro, prettier

Path conditions:
  astro: any of: \.(ts|astro)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
