Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: astro
        name: Astro check
        entry: pnpm astro check
        language: system
        pass_filenames: false
        files: \.(ts|astro)$
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --check src
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

feat: remove wrong arial-label
  src/pages/[lang]/code-of-conduct.astro
Due: astro

feat: delete menu options without pages
  src/i18n/menu/ca.ts
Due: astro, prettier

feat(sponsors): redesign sponsors section with elegant glassmorphism style (#125)
  src/components/Button.astro
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

fix: fix red letters contrast and increase base font size
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/home/SectionMain.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

feat: add analytics and seo
  .env.example
  .gitignore
  AGENTS.md
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/layouts/Layout.astro
Due: astro, prettier

feat: delete menu options without pages (#126)
  src/i18n/menu/ca.ts
Due: astro, prettier

fix: fix red letters contrast and increase base font size (#127)
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/home/SectionMain.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

feat: add venue and accomodation pages
  public/images/Barcelona/seuUB.jpg
  public/images/Barcelona/ub_map.png
  src/components/AccommodationPage.astro
  src/components/LocationPage.astro
  src/i18n/accommodation.ts
  src/i18n/location.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/location.astro
Due: astro, prettier

feat:mpve trans to folder
  src/components/AccommodationPage.astro
  src/components/LocationPage.astro
  src/i18n/accommodation.ts
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
  src/i18n/accommodation/index.ts
  src/i18n/location.ts
  src/i18n/location/ca.ts
  src/i18n/location/en.ts
  src/i18n/location/es.ts
  src/i18n/location/index.ts
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/location.astro
Due: astro, prettier

fix: fix menu after merging
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
Due: astro, prettier

feat: code conduct page (#123)
  src/i18n/code-of-conduct/ca.ts
  src/i18n/code-of-conduct/en.ts
  src/i18n/code-of-conduct/es.ts
  src/i18n/code-of-conduct/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/code-of-conduct.astro
Due: astro, prettier

feat: add analytics and seo (#128)
  .env.example
  .gitignore
  AGENTS.md
  README.md
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/robots.txt
  src/layouts/Layout.astro
Due: astro, prettier

feat: where and accomodation pages (#129)
  public/images/Barcelona/seuUB.jpg
  public/images/Barcelona/ub_map.png
  src/components/AccommodationPage.astro
  src/components/LocationPage.astro
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
  src/i18n/accommodation/index.ts
  src/i18n/location/ca.ts
  src/i18n/location/en.ts
  src/i18n/location/es.ts
  src/i18n/location/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/location.astro
Due: astro, prettier

fix: fix layout page
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/code-of-conduct.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
Due: astro

Feat add footer (#102)
  public/collaborators/europython_logo.png
  public/collaborators/pyes_logo.png
  public/collaborators/python_logo.png
  public/collaborators/ub_white.png
  src/components/Button.astro
  src/components/Nav.astro
  src/components/home/SectionMain.astro
  src/components/index.astro
  src/constants.ts
  src/i18n/components/footer/ca.ts
  src/i18n/components/footer/en.ts
  src/i18n/components/footer/es.ts
  src/i18n/components/footer/index.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/Header.astro
  src/layouts/components/Header/components/LanguagePicker.astro
  src/layouts/components/Header/components/Navigation.astro
  src/layouts/components/Header/components/ResponsiveToggle.astro
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/code-of-conduct.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
  src/pages/index.astro
  src/style/global.css
  tsconfig.json
Due: astro, prettier

feat: add tests
  .gitignore
  AGENTS.md
  README.md
  e2e/accessibility.spec.ts
  e2e/language-picker.spec.ts
  e2e/mobile-nav.spec.ts
  e2e/smoke.spec.ts
  e2e/visual.spec.ts
  e2e/visual.spec.ts-snapshots/homepage-es-desktop-chromium-darwin.png
  e2e/visual.spec.ts-snapshots/navigation-es-chromium-darwin.png
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/index.astro
  src/i18n/__tests__/translations.test.ts
  src/i18n/sponsors/es.ts
  src/pages/[lang]/accommodation.astro
  vitest.config.ts
Due: astro, prettier

fix: fix code conduct dark mode
  src/pages/[lang]/code-of-conduct.astro
Due: astro

feat: change header logo
  public/images/logo-large.png
  src/layouts/components/Header/components/Navigation.astro
  src/layouts/components/Header/components/ResponsiveToggle.astro
Due: astro

fix: fix code conduct dark mode (#133)
  src/pages/[lang]/code-of-conduct.astro
Due: astro

feat: change header logo (#134)
  public/images/logo-large.png
  src/layouts/components/Header/components/Navigation.astro
  src/layouts/components/Header/components/ResponsiveToggle.astro
Due: astro

Feat: added a11y agents (#120)
  AGENTS.md
Due: prettier

feat: replace UTF-8 emoji icons with unified Lucide icon system
  package.json
  pnpm-lock.yaml
  src/components/AccommodationPage.astro
  src/components/Button.astro
  src/components/icons/Icon.astro
  src/components/icons/SocialIcon.astro
  src/components/icons/StatusIcon.astro
  src/i18n/code-of-conduct/ca.ts
  src/i18n/code-of-conduct/en.ts
  src/i18n/code-of-conduct/es.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
  src/lib/icons/dev-utils.ts
  src/lib/icons/mappings/index.ts
  src/lib/icons/mappings/social.ts
  src/lib/icons/mappings/statistics.ts
  src/lib/icons/mappings/status.ts
  src/lib/icons/mappings/technical.ts
  src/lib/icons/types.ts
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/code-of-conduct.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

fix: resolve TypeScript errors and formatting issues
  src/components/icons/Icon.astro
  src/components/icons/StatusIcon.astro
  src/lib/icons/mappings/social.ts
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

docs: suppress deprecated icon warnings with proper documentation
  src/lib/icons/mappings/social.ts
Due: astro, prettier

fix: resolve TypeScript errors and Prettier formatting issues
  src/components/icons/Icon.astro
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
  src/lib/icons/mappings/social.ts
  src/lib/icons/mappings/status.ts
  src/lib/icons/mappings/technical.ts
  src/pages/[lang]/code-of-conduct.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat: replace UTF-8 emoji icons with unified Lucide icon system (#135)
  package.json
  pnpm-lock.yaml
  src/components/AccommodationPage.astro
  src/components/Button.astro
  src/components/icons/Icon.astro
  src/components/icons/SocialIcon.astro
  src/components/icons/StatusIcon.astro
  src/i18n/code-of-conduct/ca.ts
  src/i18n/code-of-conduct/en.ts
  src/i18n/code-of-conduct/es.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
  src/lib/icons/dev-utils.ts
  src/lib/icons/mappings/index.ts
  src/lib/icons/mappings/social.ts
  src/lib/icons/mappings/statistics.ts
  src/lib/icons/mappings/status.ts
  src/lib/icons/mappings/technical.ts
  src/lib/icons/types.ts
  src/pages/[lang]/accommodation.astro
  src/pages/[lang]/code-of-conduct.astro
  src/pages/[lang]/location.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

chore: fix build replacing npm by pnpm
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

chore: fix build replacing npm by pnpm (#136)
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

chore: setup pnpm
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

fix: remove unnecessary cache
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

fix: remove unnecessary version
  .github/workflows/build.yml
  .github/workflows/deploy.yml
Due: none

revert: remove commented code for testint purpose
  .github/workflows/deploy.yml
Due: none

chore: fix deploy gha (#137)
  .github/workflows/deploy.yml
Due: none

chore: rename build workflow to check and add pre-commit checks
  .github/workflows/check.yml
Due: none

chore: run astro and prettier checks in parallel before build
  .github/workflows/check.yml
Due: none

chore: simplify CI to single job with sequential steps
  .github/workflows/check.yml
Due: none

chore: rename build workflow to check and add pre-commit checks (#143)
  .github/workflows/check.yml
Due: none

chore: inject PUBLIC_GA_ID secret into build step
  .github/workflows/deploy.yml
Due: none

chore: inject PUBLIC_GA_ID secret into build step (#144)
  .github/workflows/deploy.yml
Due: none
