Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: astro
        name: Astro check
        entry: pnpm astro check
        language: system
        pass_filenames: false
        files: \.(ts|astro)$
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --check src
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

chore: v1.5.0
  package.json
Due: prettier

Release v1.5.0 (#187)
  package.json
Due: prettier

Feat: past editions (#186)
  public/images/past_editions/2013.png
  public/images/past_editions/2014.png
  public/images/past_editions/2015.png
  public/images/past_editions/2016.jpg
  public/images/past_editions/2017.png
  public/images/past_editions/2018.png
  public/images/past_editions/2019.png
  public/images/past_editions/2020.png
  public/images/past_editions/2021.png
  public/images/past_editions/2022.png
  public/images/past_editions/2023.png
  public/images/past_editions/2024.png
  public/images/past_editions/2025.png
  src/components/PastEditionsPage.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/past-editions/ca.ts
  src/i18n/past-editions/en.ts
  src/i18n/past-editions/es.ts
  src/i18n/past-editions/index.ts
  src/pages/[lang]/past-editions.astro
Due: astro, prettier

feat: add ticket dates banner to homepage
  package.json
  src/components/home/SectionDates.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

feat: add Early Bird tickets banner and remove obsolete CTAs
  .gitignore
  package.json
  src/components/home/SectionEarlyBird.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

feat: add Early Bird tickets banner and remove obsolete CTAs (#189)
  .gitignore
  package.json
  src/components/home/SectionEarlyBird.astro
  src/components/index.astro
  src/i18n/home.ts
Due: astro, prettier

Eliminar Inditex de lista de patros anteriores.
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

Eliminar Inditex de lista de patros anteriores. (#193)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

Añadir ofertas de trabajo de Rover.
  src/components/JobsPage.astro
  src/data/jobs/ca/rover-lead-engineer.md
  src/data/jobs/ca/rover-senior-product-engineer.md
  src/data/jobs/ca/rover-software-engineer.md
  src/data/jobs/en/rover-lead-engineer.md
  src/data/jobs/en/rover-senior-product-engineer.md
  src/data/jobs/en/rover-software-engineer.md
  src/data/jobs/es/rover-lead-engineer.md
  src/data/jobs/es/rover-senior-product-engineer.md
  src/data/jobs/es/rover-software-engineer.md
Due: astro, prettier

Restaurar altura de descripción.
  src/components/JobsPage.astro
Due: astro

Fix prettier.
  src/data/jobs/es/rover-lead-engineer.md
  src/data/jobs/es/rover-senior-product-engineer.md
  src/data/jobs/es/rover-software-engineer.md
Due: prettier

Añadir ofertas de trabajo de Rover. (#194)
  src/components/JobsPage.astro
  src/data/jobs/ca/rover-lead-engineer.md
  src/data/jobs/ca/rover-senior-product-engineer.md
  src/data/jobs/ca/rover-software-engineer.md
  src/data/jobs/en/rover-lead-engineer.md
  src/data/jobs/en/rover-senior-product-engineer.md
  src/data/jobs/en/rover-software-engineer.md
  src/data/jobs/es/rover-lead-engineer.md
  src/data/jobs/es/rover-senior-product-engineer.md
  src/data/jobs/es/rover-software-engineer.md
Due: astro, prettier

chore: v1.7.0
  package.json
Due: prettier

Version 1.7.0 (#195)
  package.json
Due: prettier

feat: añadir tier 'Comunidades Patrocinadoras' para sponsors
  src/components/home/SectionSponsors.astro
  src/data/sponsors/eps.md
  src/i18n/home.ts
  src/style/global.css
  src/types/sponsors.ts
Due: astro, prettier

fix(home): soften early bird section edges with radial gradient
  src/components/home/SectionEarlyBird.astro
Due: astro

feat: agregar sección de oradores plenarios en la home
  public/speakers/ada-lovelace.webp
  src/components/home/SectionSpeakers.astro
  src/components/home/SpeakerCard.astro
  src/components/index.astro
  src/data/speakers/ada-lovelace.md.template
  src/i18n/home.ts
  src/types/speakers.ts
Due: astro, prettier

Añadir tier 'Comunidades Patrocinadoras' para sponsors (#196)
  src/components/home/SectionSponsors.astro
  src/data/sponsors/eps.md
  src/i18n/home.ts
  src/style/global.css
  src/types/sponsors.ts
Due: astro, prettier

Difuminar los bordes de la sección de entradas early bird con gradiente radial (#198)
  src/components/home/SectionEarlyBird.astro
Due: astro

fix(a11y): address review feedback on speaker section
  src/components/home/SectionSpeakers.astro
  src/components/home/SpeakerCard.astro
  src/components/icons/Icon.astro
  src/i18n/home.ts
Due: astro, prettier

Agregar sección de oradores plenarios en la home (#199)
  public/speakers/ada-lovelace.webp
  src/components/home/SectionSpeakers.astro
  src/components/home/SpeakerCard.astro
  src/components/icons/Icon.astro
  src/components/index.astro
  src/data/speakers/ada-lovelace.md.template
  src/i18n/home.ts
  src/types/speakers.ts
Due: astro, prettier

Agrega el sponsor Abacum
  public/sponsors/abacum.png
  src/data/sponsors/abacum.md
Due: prettier

Sube version a la 1.8.0
  package.json
Due: prettier

Agrega el sponsor Abacum (#200)
  package.json
  public/sponsors/abacum.png
  src/data/sponsors/abacum.md
Due: prettier

Añade ponente primer orador plenario
  package.json
  public/speakers/diego.jpg
  src/components/home/SectionEarlyBird.astro
  src/components/home/SectionSpeakers.astro
  src/components/home/SectionSponsors.astro
  src/components/index.astro
  src/data/speakers/ada-lovelace.md.template
  src/data/speakers/diego.md
  src/i18n/home.ts
Due: astro, prettier

Añade ponente primer orador plenario (#201)
  package.json
  public/speakers/diego.jpg
  src/components/home/SectionEarlyBird.astro
  src/components/home/SectionSpeakers.astro
  src/components/home/SectionSponsors.astro
  src/components/index.astro
  src/data/speakers/ada-lovelace.md.template
  src/data/speakers/diego.md
  src/i18n/home.ts
Due: astro, prettier

Muestra bloque para las entradas generales
  package.json
  src/components/index.astro
  src/data/speakers/diego.md
Due: astro, prettier

Muestra bloque para las entradas generales (#202)
  package.json
  src/components/index.astro
  src/data/speakers/diego.md
Due: astro, prettier

feat: add becas
  src/i18n/becas/ca.ts
  src/i18n/becas/en.ts
  src/i18n/becas/es.ts
  src/i18n/becas/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/becas.astro
Due: astro, prettier

feat: add i18n support for speakers
  src/components/home/SectionSpeakers.astro
  src/data/speakers/ca/diego.md
  src/data/speakers/en/diego.md
  src/data/speakers/es/diego.md
Due: astro, prettier

feat: update package version
  package.json
Due: prettier

feat: add i18n support for speakers (#204)
  package.json
  src/components/home/SectionSpeakers.astro
  src/data/speakers/ca/diego.md
  src/data/speakers/en/diego.md
  src/data/speakers/es/diego.md
Due: astro, prettier

Update Gold and Silver sponsorship availability (#205)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore: version 1.11.0
  package.json
Due: prettier

chore: version 1.11.0 (#206)
  package.json
Due: prettier

refactor(data): consolidate speakers and jobs markdown per locale
  src/components/JobsPage.astro
  src/components/home/SectionSpeakers.astro
  src/components/home/SpeakerCard.astro
  src/data/jobs/ca/jetbrains-python-dev.md
  src/data/jobs/ca/rover-lead-engineer.md
  src/data/jobs/ca/rover-senior-product-engineer.md
  src/data/jobs/ca/rover-software-engineer.md
  src/data/jobs/en/fever-senior-dev.md
  src/data/jobs/en/jetbrains-python-dev.md
  src/data/jobs/en/rover-lead-engineer.md
  src/data/jobs/en/rover-senior-product-engineer.md
  src/data/jobs/en/rover-software-engineer.md
  src/data/jobs/es/fever-senior-dev.md
  src/data/jobs/es/jetbrains-python-dev.md
  src/data/jobs/es/rover-lead-engineer.md
  src/data/jobs/es/rover-senior-product-engineer.md
  src/data/jobs/es/rover-software-engineer.md
  src/data/jobs/fever-senior-dev.md
  src/data/jobs/jetbrains-python-dev.md
  src/data/jobs/rover-lead-engineer.md
  src/data/jobs/rover-senior-product-engineer.md
  src/data/jobs/rover-software-engineer.md
  src/data/speakers/ca/diego.md
  src/data/speakers/diego.md
  src/data/speakers/en/diego.md
  src/data/speakers/es/diego.md
  src/types/jobs.ts
  src/types/locale.ts
  src/types/speakers.ts
Due: astro, prettier

feat(speakers): add Mia and support 6 new social platforms
  public/speakers/mia.jpg
  src/components/home/SpeakerCard.astro
  src/data/speakers/mia.md
  src/i18n/home.ts
  src/lib/icons/mappings/social.ts
  src/lib/icons/types.ts
  src/types/speakers.ts
Due: astro, prettier

chore: version 1.12.0
  package.json
Due: prettier

fix(types): re-export TLocale from types/jobs
  src/types/jobs.ts
Due: astro, prettier

chore(deps): revert @lucide/astro to ^0.577.0
  package.json
  pnpm-lock.yaml
Due: prettier
