Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

astro:
  name: Astro check
  entry: pnpm astro check
  language: system
  pass_filenames: false
  stages:
  - pre-commit

prettier:
  name: Prettier
  entry: pnpm exec prettier --check src
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor: sponsors section adjustments
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/constants.ts
  src/data/sponsors/sponsor3.md
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/utils/colors.ts
Due: astro, prettier

refactor: improve responsive
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

Fix: remove lang attr
  src/components/index.astro
Due: astro

Fix: remove lang attr (#109)
  src/components/index.astro
Due: astro

fix: responsive improvements
  src/components/TextBox.astro
  src/components/home/SectionMain.astro
  src/components/index.astro
  src/layouts/Layout.astro
Due: astro

refactor: more adjustments due to pr comments
  src/components/CenteredPanel.astro
  src/components/home/SectionMain.astro
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/i18n/home.ts
  src/utils/colors.ts
Due: astro, prettier

Fix: contrastes
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

Sección de patrocinadores en la home (#104)
  src/components/CenteredPanel.astro
  src/components/SectionTitle.astro
  src/components/home/SectionMain.astro
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/components/index.astro
  src/constants.ts
  src/data/sponsors/sponsor1.md
  src/data/sponsors/sponsor2.md
  src/data/sponsors/sponsor3.md
  src/i18n/home.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/types/sponsors.ts
Due: astro, prettier

chore(sponsors): Actualizar disponibilidades de niveles y add-ons.
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore(sponsors): Actualizar disponibilidades de niveles y add-ons. (#110)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat: add footer
  src/components/Nav.astro
  src/components/home/SectionMain.astro
  src/components/index.astro
  src/constants.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/Header.astro
  src/layouts/components/Header/components/LanguagePicker.astro
  src/layouts/components/Header/components/Navigation.astro
  src/layouts/components/Header/components/ResponsiveToggle.astro
  src/pages/[lang]/index.astro
  src/pages/[lang]/sponsors.astro
  src/pages/index.astro
  tsconfig.json
Due: astro, prettier

feat: add new design tokens and toogle mode
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/components/ThemeToggle.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
  tailwind.config.mjs
Due: astro, prettier

Feat: Improve a11y
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/ThemeToggle.astro
Due: astro

feat: add new design tokens and toogle mode (#111)
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/components/ThemeToggle.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
  tailwind.config.mjs
Due: astro, prettier

fix: some theme variables fixes
  src/components/Navigation.astro
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/constants.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

Correcciones del theme y colores de los tiers aplicados (#112)
  src/components/Navigation.astro
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
  src/constants.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

feat: add nagarro sponsor
  src/components/home/sponsors/SponsorsGroup.astro
  src/data/sponsors/nagarro.md
  src/data/sponsors/sponsor1.md
  src/data/sponsors/sponsor2.md
  src/data/sponsors/sponsor3.md
  src/layouts/Layout.astro
  src/types/sponsors.ts
Due: astro, prettier

Add Nagarro sponsor (#113)
  src/components/home/sponsors/SponsorsGroup.astro
  src/data/sponsors/nagarro.md
  src/data/sponsors/sponsor1.md
  src/data/sponsors/sponsor2.md
  src/data/sponsors/sponsor3.md
  src/layouts/Layout.astro
  src/types/sponsors.ts
Due: astro, prettier

feat(sponsors): Add GISCE as a new bronze sponsor
  src/data/sponsors/gisce.md
Due: prettier

chore(sponsors): Añadir Perk como main sponsor.
  src/data/sponsors/perk.md
Due: prettier

feat(sponsors): Add GISCE as a new bronze sponsor (#114)
  src/data/sponsors/gisce.md
Due: prettier

chore(sponsors): Añadir Perk como main sponsor. (#115)
  src/data/sponsors/perk.md
Due: prettier

docs: add/update AGENTS.md with detailed guidelines for build, style, and Astro context
  AGENTS.md
Due: prettier

docs: add/update AGENTS.md with detailed guidelines for build, style,… (#119)
  AGENTS.md
Due: prettier

feat: add figma buttons
  src/components/Button.astro
  src/pages/[lang]/sponsors.astro
Due: astro

feat: added a11y to agents.md
  AGENTS.md
Due: prettier

feat: add figma buttons (#121)
  src/components/Button.astro
  src/pages/[lang]/sponsors.astro
Due: astro

delete dark theme
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
  tailwind.config.mjs
Due: astro, prettier

feat: delete light mode
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
Due: astro

fix(theme): remove unused ThemeToggle import
  src/components/Navigation.astro
Due: astro

chore(theme): remove light mode completely
  .github/workflows/deploy.yml
  README.md
  astro.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon/site.webmanifest
Due: prettier

feat: add code of conduct page
  src/i18n/code-of-conduct/ca.ts
  src/i18n/code-of-conduct/en.ts
  src/i18n/code-of-conduct/es.ts
  src/i18n/code-of-conduct/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/code-of-conduct.astro
Due: astro, prettier

feat: delete htemetoggle component
  src/components/ThemeToggle.astro
Due: astro

feat: update manifest
  public/favicon/site.webmanifest
Due: none

feat: add translations
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/code-of-conduct.astro
Due: astro, prettier

Delete light mode (#122)
  .github/workflows/deploy.yml
  README.md
  astro.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon/site.webmanifest
  src/components/LanguagePicker.astro
  src/components/Navigation.astro
  src/components/ResponsiveToggle.astro
  src/components/ThemeToggle.astro
  src/layouts/Layout.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
  tailwind.config.mjs
Due: astro, prettier

feat: add collaborators to footer
  public/collaborators/europython_logo.png
  public/collaborators/pyes_logo.png
  public/collaborators/python_logo.png
  public/collaborators/ub_white.png
  src/i18n/components/footer/ca.ts
  src/i18n/components/footer/en.ts
  src/i18n/components/footer/es.ts
  src/i18n/components/footer/index.ts
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
  src/layouts/components/Header/components/ThemeToggle.astro
  src/pages/[lang]/sponsors.astro
  src/style/global.css
Due: astro, prettier

feat(sponsors): redesign sponsors section with elegant glassmorphism style
  src/components/Button.astro
  src/components/home/SectionSponsors.astro
  src/components/home/sponsors/SponsorsGroup.astro
Due: astro

feat: fix footer in sponsors layout
  src/constants.ts
  src/layouts/components/Footer.astro
  src/pages/[lang]/sponsors.astro
Due: astro, prettier

feat: delete dark theme again
  src/components/Button.astro
  src/layouts/Layout.astro
  src/layouts/components/Footer.astro
  src/layouts/components/Header/components/Navigation.astro
  src/layouts/components/Header/components/ThemeToggle.astro
Due: astro

Path conditions:
  astro: any of: \.(ts|astro)$
  prettier: any of: \.(ts|tsx|js|jsx|json|css|md)$
