Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: astro
        name: Astro check
        entry: pnpm astro check
        language: system
        pass_filenames: false
        files: \.(ts|astro)$
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --check src
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

feat(sponsors): add olx as sponsor
  public/sponsors/olx.svg
  src/data/sponsors/olx.md
Due: prettier

chore: update package
  package.json
Due: prettier

feat(sponsors): add olx as sponsor (#235)
  package.json
  public/sponsors/olx.svg
  src/data/sponsors/olx.md
Due: prettier

feat: use plural when there are several sponsors
  src/components/home/SectionSponsors.astro
  src/i18n/home.ts
Due: astro, prettier

sponsoring communities case
  src/i18n/home.ts
Due: astro, prettier

fix case for main
  src/components/home/SectionSponsors.astro
Due: astro

fix title key access
  src/components/home/SectionSponsors.astro
Due: astro

chore: bump version to 1.17.12
  package.json
Due: prettier

feat: use plural when there are several sponsors (#236)
  package.json
  src/components/home/SectionSponsors.astro
  src/i18n/home.ts
Due: astro, prettier

chore(sponsors): update add-on package availability
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat(jobs): add main tier and new sponsor job listings
  src/components/JobsPage.astro
  src/data/jobs/hrt-software-engineer-python-singapore.md
  src/data/jobs/hrt-software-engineer-python.md
  src/data/jobs/perk-senior-software-engineer-london.md
  src/data/jobs/perk-senior-software-engineer.md
  src/data/jobs/veriff-senior-software-engineer.md
  src/types/jobs.ts
Due: astro, prettier

chore(sponsors): update add-on package availability (#237)
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore: format job listings with Prettier
  src/data/jobs/hrt-software-engineer-python.md
  src/data/jobs/perk-senior-software-engineer-london.md
  src/data/jobs/perk-senior-software-engineer.md
Due: prettier

feat(jobs): add main tier and new sponsor job listings (#238)
  src/components/JobsPage.astro
  src/data/jobs/hrt-software-engineer-python-singapore.md
  src/data/jobs/hrt-software-engineer-python.md
  src/data/jobs/perk-senior-software-engineer-london.md
  src/data/jobs/perk-senior-software-engineer.md
  src/data/jobs/veriff-senior-software-engineer.md
  src/types/jobs.ts
Due: astro, prettier

chore: version updated to 1.17.13
  package.json
Due: prettier

Update version to 1.17.13 (#239)
  package.json
Due: prettier

feat: add Django Girls workshop page
  src/i18n/django-girls/ca.ts
  src/i18n/django-girls/en.ts
  src/i18n/django-girls/es.ts
  src/i18n/django-girls/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/django-girls.astro
Due: astro, prettier

chore: bump version to 1.17.14
  package.json
  src/pages/[lang]/django-girls.astro
Due: astro, prettier

fix: fix prettier
  src/i18n/django-girls/ca.ts
Due: astro, prettier

feat: add Django Girls workshop page (#240)
  package.json
  src/i18n/django-girls/ca.ts
  src/i18n/django-girls/en.ts
  src/i18n/django-girls/es.ts
  src/i18n/django-girls/index.ts
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/pages/[lang]/django-girls.astro
Due: astro, prettier

feat(sponsors): add BSport silver sponsor
  package.json
  public/sponsors/bsporth.png
  src/data/sponsors/bsport.md
Due: prettier

feat(sponsors): add BSport silver sponsor (#241)
  public/sponsors/bsporth.png
  src/data/sponsors/bsport.md
Due: prettier

chore: bump version to 1.17.15
  package.json
Due: prettier

chore: bump version to 1.17.15 (#242)
  package.json
Due: prettier
