Repository python-spain/2026.es.pycon.org: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro, prettier

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: local
    hooks:
      - id: astro
        name: Astro check
        entry: pnpm astro check
        language: system
        pass_filenames: false
        files: \.(ts|astro)$
        stages: [pre-commit]

      - id: prettier
        name: Prettier
        entry: pnpm exec prettier --check src
        language: system
        pass_filenames: false
        files: \.(ts|tsx|js|jsx|json|css|md)$
        stages: [pre-commit]

  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [--verbose]

style(programa): constrain schedule list width to keep heart button close
  src/components/ScheduleList.astro
Due: astro

feat(programa): add 'only favourites' filter to list view
  src/components/ProgramaPage.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
Due: astro, prettier

fix(programa): wire favourites filter through event delegation + add status
  src/components/ProgramaPage.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
Due: astro, prettier

fix(programa): debug-friendly filter button binding
  src/components/ProgramaPage.astro
Due: astro

fix(programa): restore view mode persistence per team feedback
  src/components/ProgramaPage.astro
Due: astro

fix(programa): use is:global for filter CSS to cross Astro component scope
  src/components/ProgramaPage.astro
Due: astro

fix(programa): eliminate view-mode flash on first paint
  package.json
  src/components/ProgramaPage.astro
  src/layouts/Layout.astro
Due: astro, prettier

Programa: vista accesible + mejoras de a11y del widget de Pretalx (#215)
  package.json
  src/components/ProgramaPage.astro
  src/components/ScheduleList.astro
  src/i18n/menu/ca.ts
  src/i18n/menu/en.ts
  src/i18n/menu/es.ts
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
  src/layouts/Layout.astro
  src/lib/schedule.ts
  src/pages/[lang]/programa.astro
  src/types/schedule.ts
Due: astro, prettier

fix(programa): responsive issues in view-mode toggle and grid view
  src/components/ProgramaPage.astro
Due: astro

fix(programa): responsive issues in view-mode toggle and grid view (#222)
  src/components/ProgramaPage.astro
Due: astro

feat: feat donwload programe button
  package.json
  src/components/ProgramaPage.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
Due: astro, prettier

feat: add programme to public folder
  public/programa-pycones-2026.pdf
  src/components/ProgramaPage.astro
Due: astro

feat: format
  src/components/ProgramaPage.astro
Due: astro

feat: feat donwload programe button (#223)
  package.json
  public/programa-pycones-2026.pdf
  src/components/ProgramaPage.astro
  src/i18n/programa/ca.ts
  src/i18n/programa/en.ts
  src/i18n/programa/es.ts
Due: astro, prettier

fix(jobs): use Vite 8-compatible glob for job markdown
  src/components/JobsPage.astro
Due: astro

chore: update version to 1.17.6
  package.json
Due: prettier

fix(jobs): show job offers on production again (#224)
  package.json
  src/components/JobsPage.astro
Due: astro, prettier

feat(accommodation): add recommended hotels with promo codes
  src/components/AccommodationPage.astro
  src/data/hotels.ts
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
  src/types/hotels.ts
Due: astro, prettier

fix(accommodation): improve hotel promo cards accessibility
  src/components/AccommodationPage.astro
  src/data/hotels.ts
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
  src/types/hotels.ts
Due: astro, prettier

feat(accommodation): add recommended hotels with promo codes (#225)
  src/components/AccommodationPage.astro
  src/data/hotels.ts
  src/i18n/accommodation/ca.ts
  src/i18n/accommodation/en.ts
  src/i18n/accommodation/es.ts
  src/types/hotels.ts
Due: astro, prettier

chore: bump version to 1.17.7
  package.json
Due: prettier

feat(sponsors): add Cuttlesoft as silver sponsor
  public/sponsors/cuttlesoft.svg
  src/data/sponsors/cuttlesoft.md
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat(sponsors): add Cuttlesoft as silver sponsor (#227)
  public/sponsors/cuttlesoft.svg
  src/data/sponsors/cuttlesoft.md
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore: bump version to 1.17.7 (#226)
  package.json
Due: prettier

feat(sponsors): add Manychat as Platinum sponsor
  public/sponsors/manychat.svg
  src/data/sponsors/manychat.md
Due: prettier

feat(sponsors): add Manychat as Platinum sponsor (#228)
  public/sponsors/manychat.svg
  src/data/sponsors/manychat.md
Due: prettier

chore:update version 1.17.8 new manychat sponsor
  package.json
Due: prettier

chore:update version 1.17.8 new manychat sponsor (#229)
  package.json
Due: prettier

feat(sponsors): add Pablo Galindo as Community sponsor
  public/collaborators/PabloGalindo.webp
  src/data/sponsors/pablo-galindo.md
Due: prettier

feat(sponsors): add Pablo Galindo as Community sponsor (#230)
  public/collaborators/PabloGalindo.webp
  src/data/sponsors/pablo-galindo.md
Due: prettier

feat(sponsors): add HRT and Python Barcelona as sponsors
  public/sponsors/hrt.svg
  public/sponsors/python-barcelona.png
  src/data/sponsors/hrt.md
  src/data/sponsors/python-barcelona.md
Due: prettier

feat(sponsors): add HRT and Python Barcelona as sponsors (#231)
  public/sponsors/hrt.svg
  public/sponsors/python-barcelona.png
  src/data/sponsors/hrt.md
  src/data/sponsors/python-barcelona.md
Due: prettier

fix: update gold tier number
  package.json
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix: update gold tier number (#232)
  package.json
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

fix: update silver tier number
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

chore: update package json for release
  package.json
Due: prettier

fix: update silver tier number (#233)
  package.json
  src/i18n/sponsors/ca.ts
  src/i18n/sponsors/en.ts
  src/i18n/sponsors/es.ts
Due: astro, prettier

feat(sponsors): add meta as sponsor
  public/sponsors/meta.svg
  src/data/sponsors/meta.md
Due: prettier

feat(sponsors): add meta as sponsor (#234)
  public/sponsors/meta.svg
  src/data/sponsors/meta.md
Due: prettier
